.outer{
  width:auto;
  height:auto;
  white-space: nowrap;
  position: relative;
  overflow-x:scroll;
  overflow-y:hidden;
}

.footbar {
 position: absolute;
  width: 100%;bottom: 0;
}
.bodyStyle {   	 
     background-image: url('../background.jpg');  
   }
   .messagecolor
   {
   	color: #FFF;
   }
   body{
   	 background-image: url('../bg-9-full.jpg');
   	 font-family: 'Aclonica';
   	 font-family: Aclonica;
   }
   